$color-primary-light: #28d4f9;
$color-primary: #00baff;
$color-primary-dark: #0095cc;

$color-gray-light: #f5f5f5;
$color-gray: #9b9b9b;
$color-gray-dark49: #49494b;
$color-gray-dark46: #464648;
$color-gray-dark: #434345;

$color-white: #fff;
$color-black: #000;
$color-black-light19: #191919;
$color-black-light21: #212121;

$color-error: #f54b0f;

$header-logo: 40px; 
$header-size: $header-logo + 20px; 